<div class="container">
  <div class="wrapper">
    <div class="form">
      <form class="sns-form">
        <mat-form-field>
          <mat-label>Operator Order Id</mat-label>
          <input matInput placeholder="" name="ooid" value="" [(ngModel)]="formData.ooid" required autocomplete="false">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>VOIP Order Id</mat-label>
          <input [(ngModel)]="formData.void" name="void" matInput placeholder="" value="" required autocomplete="false">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Data Order Id</mat-label>
          <input [(ngModel)]="formData.doid" name="doid" matInput placeholder="" value="" required autocomplete="false">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>VOIP Service Id</mat-label>
          <input [(ngModel)]="formData.vsid" name="vsid" matInput placeholder="" value="" required autocomplete="false">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Data Service Id</mat-label>
          <input [(ngModel)]="formData.dsid" name="dsid" matInput placeholder="" value="" required autocomplete="false">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Directory Number</mat-label>
          <input [(ngModel)]="formData.directory" name="directory" matInput placeholder="" value="" required autocomplete="false">
        </mat-form-field>
        <button (click)="onSubmit()" type="submit" mat-flat-button style="background-color: rgb(21, 144, 221) !important;color:white;">Create SNS JSON</button>
      </form>
    </div>
    <div *ngIf="show_json" class="JSON_Content">
      <mat-tab-group style="width:100%;overflow:none;font-size:14px !important" animationDuration="0ms">
        <mat-tab label="Order Validation">
          <pre style="margin-bottom: 2em;">{{ BOS_Validation  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(BOS_Validation)" type="submit">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Data Accepted">
          <pre style="margin-bottom: 2em;">{{ Data_Accepted  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Data_Accepted)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Voice Accepted">
          <pre style="margin-bottom: 2em;">{{ Voice_Accepted  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Voice_Accepted)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Data Activated">
          <pre style="margin-bottom: 2em;">{{ Data_Activated  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Data_Activated)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Voice Activated">
          <pre style="margin-bottom: 2em;">{{ Voice_Activated  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Voice_Activated)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Data Completed">
          <pre style="margin-bottom: 2em;">{{ Data_Completed  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Data_Completed)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Voice Completed">
          <pre style="margin-bottom: 2em;">{{ Voice_Completed  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Voice_Completed)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Cease Data Warning">
          <pre style="margin-bottom: 2em;">{{ Cease_Data_Warning  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Cease_Data_Warning)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Cease Data Completed">
          <pre style="margin-bottom: 2em;">{{ Cease_Data_Completed  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Cease_Data_Completed)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Cease Voice Warning">
          <pre style="margin-bottom: 2em;">{{ Cease_Voice_Warning  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Cease_Voice_Warning)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
        <mat-tab label="Cease Voice Completed">
          <pre style="margin-bottom: 2em;">{{ Cease_Voice_Completed  }}</pre>
          <button class="copytoclipboard" (click)="copyToClipboard(Cease_Voice_Completed)" type="submit" color="primary">Copy to Clipboard<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></button>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
